[[source]]
url = "https://github.com/Plastic-Scanner/PSplot"
name = "PSplot"

[packages]
ipython = "*"
numpy = "*"
python-language-server = "*"
pyserial = "*"
pyqt5 = "*"
pyqtgraph = "*"
PyQtDataVisualization = "*"
matplotlib = "*"
pandas = "*"
joblib = "*"

[dev-packages]
black = "*"
codespell = "*"
ruff = "*"

[requires]
python_version = "3.8"
